<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

[%- DEFAULT
  chartcfg_json  = '{}'
  chartrows_json = '[]'

-%]


<head>
<title>Rapi::EBO - Chart</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="http://www.chartjs.org/assets/styles.css">

<script type="text/javascript" src="/assets/extjs/current/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/assets/extjs/current/ext-all.js"></script>
<script type="text/javascript" src="/assets/local/js/current.js"></script>

<style>
  ul.two-columns {
    -ms-column-count: 2;
    -o-column-count: 2;
    -moz-column-count: 2;
    -khtml-column-count: 2;
    column-count: 2;
    -webkit-column-count: 2;
    padding-top:70px;

  }
</style>

<script type="text/javascript">

  Ext.onReady(function(){
  
    var chartcfg  = [% chartcfg_json %];
    var chartrows = [% chartrows_json %];
    
    var Charter = new RA.ux.EBO.lineCharter( chartcfg );
    var data    = Charter.cfgForRows( chartrows );
  
    var options = {
      multiTooltipTemplate: "<%if (datasetLabel){%><%=datasetLabel%>: <%}%><%= value %>%",

      // line-template (default, for reference)
      legendTemplate_def : [
        "<ul class=\"<%=name.toLowerCase()%>-legend\">",
          "<% for (var i=0; i<datasets.length; i++){%>",
            "<li><span style=\"background-color:<%=datasets[i].strokeColor%>\">",
            "<%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li>",
          "<%}%>",
        "</ul>"
      ].join(''),
      
      legendTemplate : [
        "<ul class=\"doughnut-legend two-columns\">",
          "<% for (var i=0; i<datasets.length; i++){%>",
            "<li><span style=\"background-color:<%=datasets[i].strokeColor%>; height:55px;margin-top:4px;\"></span>",
            "<%if(datasets[i].label){%>",
              "<img style=\"height:60px;\" src=\"/img/<%=datasets[i].label%>\">",
              "<%if(datasets[i].points){%>",
                "<div style=\"display:inline-block;padding-left:5px;\">",
                  "<b style=\"font-size:1.2em;\"><%=datasets[i].points[datasets[i].points.length-1].value%>%</b><br>&nbsp;",
                  "<%var change = Math.round((datasets[i].points[datasets[i].points.length-1].value - datasets[i].points[0].value) * 100) / 100;%>",
                  "<%if(change > 0){%>",
                    "<i style=\"color:green\">+<%=change%></i>",
                  "<%} else if (change < 0) {%>",
                    "<i style=\"color:red\"><%=change%></i>",
                  "<%} else {%>",
                    "&nbsp;&mdash;",
                  "<%}%>",
                  "<br>&nbsp;",
                "</div>",
              "<%}%>",
            "<%}%></li>",
          "<%}%>",
        "</ul>"
      ].join('')

      
    };
    var ctx = document.getElementById('main-chart').getContext("2d");
    var LineChart = new Chart(ctx).Line(data,options);
    
    document.getElementById('chart-legend').innerHTML = LineChart.generateLegend();
    
  });

</script>


</head>
<body>



<div style="width:1110px;float:left;position:relative;top:10px;">

<div style="width:800px;padding:10px;">
<center>

<div style="position:absolute;top:-2px;width:800px;">
  <h3>
    &ndash;&nbsp;&nbsp;
    historical data retrieved from <a href="http://electionbettingodds.com">electionbettingodds.com</a>
    &nbsp;&nbsp;&ndash;
  </h3>
</div>


<div style="padding-bottom:20px;padding-top:30px;">
  <div style="float:left;font-weight:bold;">
    [%- IF contest_links.Democratic -%]<a href="[%- contest_links.Democratic -%]">Democratic</a> [%- ELSE -%]Democratic[%- END -%]&nbsp;|&nbsp;
    [%- IF contest_links.Republican -%]<a href="[%- contest_links.Republican -%]">Republican</a> [%- ELSE -%]Republican[%- END -%]&nbsp;|&nbsp;
    [%- IF contest_links.Presidency -%]<a href="[%- contest_links.Presidency -%]">Presidency</a> [%- ELSE -%]Presidency[%- END -%]&nbsp;
  </div> 

  <div style="float:right;font-weight:bold;">
    Time intervals:&nbsp;&nbsp;
    [%- IF slot_links.day -%]    <a href="[%- slot_links.day -%]">day</a>         [%- ELSE -%]day[%- END -%]&nbsp;|&nbsp;
    [%- IF slot_links.halfday -%]<a href="[%- slot_links.halfday -%]">halfday</a> [%- ELSE -%]halfday[%- END -%]&nbsp;|&nbsp;
    [%- IF slot_links.hour -%]   <a href="[%- slot_links.hour -%]">hour</a>       [%- ELSE -%]hour[%- END -%]&nbsp;|&nbsp;
    [%- IF slot_links.minute -%] <a href="[%- slot_links.minute -%]">minute</a>   [%- ELSE -%]minute[%- END -%]&nbsp;
  </div>
</div>

<canvas 
  width  ="800" 
  height ="500" 
  id     ="main-chart"
></canvas>

<div style="padding-top:10px;">
<i>
[%- IF prev -%]
  <a href="[%- prev -%]">&laquo; earlier</a>&nbsp;&nbsp;
[%- END -%]
<b>[%- low_human -%]</b>&nbsp;&nbsp;thru&nbsp;&nbsp;<b>[%- high_human -%]</b>
[%- IF next -%]
  &nbsp;&nbsp;<a href="[%- next -%]">later &raquo;</a>
  <div style="float:right;">
    <a href="[%- cur_path -%]">latest &raquo;</a>
  </div>
  
[%- END -%]
</i>
</div>

</center>
</div>
<div id="chart-legend"></div>


</div>


<a href="https://github.com/RapidApp/Rapi-EBO">
<img 
  style="position: absolute; top: 0; right: 0; border: 0; height:110px;" 
  target="_blank"
  src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" 
  alt="Fork me on GitHub" 
  data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"
></a>

</body>
</html>
