<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

[%- DEFAULT
  chartcfg_json  = '{}'
  chartrows_json = '[]'

-%]


<head>
<title>Rapi::EBO - Chart</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="http://www.chartjs.org/assets/styles.css">

<script type="text/javascript" src="/assets/extjs/current/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/assets/extjs/current/ext-all.js"></script>
<script type="text/javascript" src="/assets/local/js/current.js"></script>


<script type="text/javascript">

  Ext.onReady(function(){
  
    var chartcfg  = [% chartcfg_json %];
    var chartrows = [% chartrows_json %];
    
    var Charter = new RA.ux.EBO.lineCharter( chartcfg );
    var data    = Charter.cfgForRows( chartrows );
  
    var options = {
      multiTooltipTemplate: "<%if (datasetLabel){%><%=datasetLabel%>: <%}%><%= value %>%",

      // line-template (default, for reference)
      legendTemplate_def : [
        "<ul class=\"<%=name.toLowerCase()%>-legend\">",
          "<% for (var i=0; i<datasets.length; i++){%>",
            "<li><span style=\"background-color:<%=datasets[i].strokeColor%>\">",
            "<%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li>",
          "<%}%>",
        "</ul>"
      ].join(''),
      
      legendTemplate : [
        "<ul class=\"doughnut-legend\">",
          "<% for (var i=0; i<datasets.length; i++){%>",
            "<li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span>",
            "<%if(datasets[i].label){%>",
              "<img style=\"height:60px;\" src=\"http://electionbettingodds.com/<%=datasets[i].label%>.jpg\">",
              "<%if(datasets[i].points){%>",
                "<div style=\"display:inline-block;padding-left:5px;\">",
                  "<%=datasets[i].points[datasets[i].points.length-1].value%>%<br>&nbsp;<br>&nbsp;",
                "</div>",
              "<%}%>",
            "<%}%></li>",
          "<%}%>",
        "</ul>"
      ].join('')

      
    };
    var ctx = document.getElementById('main-chart').getContext("2d");
    var LineChart = new Chart(ctx).Line(data,options);
    
    document.getElementById('chart-legend').innerHTML = LineChart.generateLegend();
    
  });

</script>


</head>
<body>


<h2>Contest: [%- contest -%]</h2> 


<div style="width:950px;float:left;position:relative;">

<div style="width:800px;padding:10px;">
<center>

<h3>Odds by the [%- by -%]</h3>


<canvas 
  width  ="800" 
  height ="600" 
  id     ="main-chart"
></canvas>

<div style="padding-top:10px;">
<i>
[%- IF prev -%]
  <a href="[%- prev -%]">&laquo; earlier</a>&nbsp;&nbsp;
[%- END -%]
<b>[%- low -%]</b> to <b>[%- high -%]</b>
</i>
</div>

</center>
</div>
<div id="chart-legend"></div>


</div>

</body>
</html>
